

.view {
    height: 900px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.headertext {
    margin-top: 25%;
}

.mb-4 {
    text-align: left;
}

.container {
    color: gray;
}